/* Universal styles */

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

/* Front page */

.mother-fp {
  width: min(130ch, 100% - 2rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  grid-template-rows: 75dvh 25.5dvh auto auto;
}

.header-fp {
  grid-column: 1;
  position: fixed;
  margin-block-start: 20dvh;
  transition: opacity 0.5s ease-in-out;
}

.header-fp > h1 {
  line-height: 1;
}

.header-fp > p {
  line-height: 14rem;
  text-decoration: none;
}

#invisible {
  opacity: 0;
}

.questions {
  grid-column: 2;
  grid-row: 3;
  z-index: 10;
  margin-block-end: 75.5dvh;
  padding: 2rem;
  background-color: white;
}

.questions section > picture {
  display: grid;
  place-items: center;
  padding-block-start: 3rem;
}

.questions-title {
  height: 25.5dvh;
  margin-block-start: -28.5dvh;
  padding: 1rem;
  border-inline-end: black solid 1rem;
  background-color: white;
}

.questions-items {
  display: grid;
  gap: 6rem;
}

.questions-items > section {
  margin-block-start: 10rem;
  padding: 1rem;
  border-inline-end: black solid 1rem;
}

.email {
  padding-block-start: 2rem;
  padding-block-end: 1rem;
}

.about {
  grid-column: 2;
  grid-row: 4;
  height: 28.5dvh;
  padding: 2rem;
}

.about > a {
  padding: 1rem;
}

/* About page */

.mother-ap {
  width: min(130ch, 100% - 2rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  grid-template-rows: 75dvh 25.5dvh auto auto;
}

.header-ap {
  grid-column: 1 / span 2;
  position: fixed;
  transition: opacity 0.5s ease-in-out;
  margin-block-start: 20dvh;
  display: grid;
  gap: 2rem;
}

.header-ap > h1 {
  font-size: var(--step-5);

  line-height: 1;
}

.header-ap > nav {
  padding-block-start: 1rem;
  line-height: 1.25;
}

.header-ap > nav > h2 > a {
  font-size: var(--step-3);
  text-decoration: none;
}

.content {
  grid-column: 2;
  grid-row: 3;
  z-index: 10;
  margin-block-end: 75.5dvh;
  background-color: white;
  display: grid;
  gap: 10rem;
}

.content > section {
  border-inline-end: black solid 1rem;
  display: grid;
  gap: 2rem;
  padding: 2rem;
  padding-block-start: 2.5rem;
}

.self-portrait {
  transition: opacity 0.5s ease-in-out;
  padding-block-start: 2.5rem;
  display: grid;
  place-items: center;
}

.home {
  grid-column: 2;
  grid-row: 4;
  height: 28.5dvh;
  padding: 2rem;
}

.home > a {
  padding: 1rem;
}
